h1 {
  margin: 0 0 35px;
  text-transform: none;
}

/* SEARCH BAR STUFF */

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {

    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.icon-addon .form-control:focus + .glyphicon, .icon-addon .glyphicon, .icon-addon .form-control:focus + .fa, .icon-addon .fa {
    transition: color 0.3s ease-in-out!important;
}

.icon-addon .form-control:focus + .glyphicon, .icon-addon:hover .glyphicon, .icon-addon .form-control:focus + .fa, .icon-addon:hover .fa {
    color: #FF4181;
}

.form-control:focus, .form-control:hover {
  border-color: #FF4181;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input#concertSearch {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*NAVBAR FOR CONCERTS*/
.navbar-custom.top-nav-collapse-permanent {
padding: 0;
background: black;
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*CONCERT PAGE EDITS */
.concert-body {
	background: white;
}

.concert-page {
	color:black;
}

.concertHead {
  padding-top:0px;
  margin-top: 100px;
}

#concertHead h5{
  float:left;
  clear: both;
  margin: 0 0 30px;
}
.percent{
  color:green;
}
.subtitle{
  float:left;
  clear: both;
  color:grey;
  margin:0 0 0px;
}
h3 {
  float:left;
  clear: both;
  margin:0 0 14px;
}
/*BUTTON STUFF*/
a.btn.btn-circle.page-scroll {
    position: absolute;
    bottom: 50px;
    transform: translate(-50%, 0);
}
.btn-circle,
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  border:none;
  /*background: rgba(255, 255, 255, 0.1);*/
}
.btn-circle:hover, .btn-circle:active, .btn-circle:focus{
  background:none;
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.centerText {
    position: absolute;
    bottom: 75px;
    width: 100%;
    text-align: center;
    left:0;
}
li.ui-menu-item {
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
}

/*SUGGESTIONS*/

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#autocomplete2{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
   color: #F50057;
}
a:hover{
   color: #FF4181;
}
.btn-default, .btn-default {
    border: 1px solid #F50057;
    outline: #F50057;
    color: #F50057;
    background-color: none;
}
.btn-default:hover, .btn-default:focus {
    border: 1px solid #F50057;
    outline: none;
    color: black;
    background-color: #F50057;
}


.frontbuttons{
      border: 1px solid white;
    outline: white;
    color: white;
    background-color: none;
}
.frontbuttons:hover, .frontbuttons:focus{
      border: 1px solid white;
    outline: white;
    color: black;
    background-color: white;
}


.tbhead{
  margin-bottom:0px;
}
.tbbody{
	text-align: left;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #C2185B;
  background-color: #C2185B;
  border-color: #C2185B;
}
.btn-primary {
  color: #F50057;
  background-color: #F50057;
  border-color: #F50057;
}
.intro {
    background: url(img/intro-bg3.png) no-repeat bottom center scroll;
}
.buttonWrap{
  position: relative;
}
.buttonFA{
  pointer-events: none;
  color:white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  top: 30%;
}
.jumbotron {
  background-color:#424242;
  color: #21212;
}
#leaderboards{
  padding-top: 70px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
}