{% extends "concert.html" %}

{% block title %}
    Concert
{% endblock %}

{% block main %}
    <!-- Concert Info -->
    <section id="allConcert" class="container content-section text-center concert-page concertHead">

        <h2>All Concerts</h2>

        <table class="table">
          <thead>
            <tr>
              <th><h4 class = "tbhead">#</h4></th>
              <th><h4 class = "tbhead">Name</h4></th>
              <th><h4 class = "tbhead">Venue</h4></th>
              <th><h4 class = "tbhead">Date</h4></th>
              <th><h4 class = "tbhead"></h4></th>
            </tr>
          </thead>
              <tbody>
                {% for concert in concerts %}
                <form id="{{ concert['id'] }}" action="{{ url_for('add') }}" method="post">
                    <tr>
                      <th scope="row"><h5 class = "tbbody">1</h5></th>
                      <td><h5 class = "tbbody">{{ concert['name'] }}</h5></td>
                      <td><h5 class = "tbbody">{{ concert['venue'] }}</h5></td>
                      <td><h5 class = "tbbody">{{ concert['datetime'][:10] }}</h5></td>
                      <td>
                      <div class = "buttonWrap">
                      <input id = "addButton" name = "addButton" type="submit" value = "{{ concert['id'] }}" placeholder="+" class="btn btn-primary btn-sm">
                      <i class="fa fa-chevron-right fa-fw buttonFA"></i>
                      </div>
                      </td>
                    </tr>
                </form>
                {% endfor %} 
              </tbody>
        </table>

    </section>
{% endblock %}