<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CrowdSurf - The best way to trade tickets</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS maybe minify?-->
    <link href="/static/grayscale.css" rel="stylesheet">

    <!-- My CSS maybe minify?-->
    <link href="/static/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">CrowdSurf</span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
<!--                     <li>
                        <a class="page-scroll" href="#leaderboards">Trade</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">CrowdSurf</h1>


                        <form id="form">
                            <div class="form-group">
                                <div class="icon-addon addon-lg">
                                    <input id = "autocomplete2" type="text" placeholder="Search for a Concert" class="form-control">
                                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                </div>
                            </div>
                        </form>

                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="all" class="btn btn-default btn-lg frontbuttons"><i class="fa fa-globe fa-fw"></i> <span class="network-name">All Concerts</span></a>
                            </li>
                            <li>
                                <a href="add" class="btn btn-default btn-lg frontbuttons"><i class="fa fa-plus fa-fw"></i> <span class="network-name">Add Concert</span></a>
                            </li>
                        </ul>


                    </div>
                </div>
                <div class = "centerText">
                    <h6>More Info!</h6>
                </div>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- GAINERS SECTION -->
<!--     <section id="leaderboards" class="container content-section">
        <div class="row">
            <div class="col-lg-4">
            <div class="col-md-12 jumbotron">

            </div>
            </div>
            <div class="col-lg-4">
            <div class="col-md-12 jumbotron">
                <h3>Volume Movers</h3><br>
                <p>CrowdSurf is a user-based concert tracking platform created by Sean Hughes and Thushan Puhalendran, two Harvard undergraduates in 2016. Simple and clean, Crowd Surf users select new concerts to track for and the program will gather data over time on those concerts' social media attention, ticket prices and remaining remaining ticket volumes.
                </p>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="col-md-12 jumbotron">
                <h3>Daily Movers</h3><br>
                <p>CrowdSurf is a user-based concert tracking platform created by Sean Hughes and Thushan Puhalendran, two Harvard undergraduates in 2016. Simple and clean, Crowd Surf users select new concerts to track for and the program will gather data over time on those concerts' social media attention, ticket prices and remaining remaining ticket volumes.
                </p>
            </div>
            </div>
        </div>
    </section> -->

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
                <h2>About CrowdSurf</h2>
                <p><a class="page-scroll" href="#page-top">CrowdSurf</a> is an intuitive user-based concert tracking platform. Users <a href="../add">add new concerts</a> to track and Crowdsurf automatically gathers data on and graphs their ticket prices and outstanding ticket volumes.</p>
                <p>CrowdSurf updates its <a href="../all">database</a> dynamically in real-time, tracks 'fluxes' - sudden changes in volumes and pricing as providers reprice and sell out, as well as all-time-highs and -lows. The strength in the program comes from its scalability - every user contributes each time they add a new concert to Crowdsurf as they then become available for all other users - and so CrowdSurf increases in power as our user-base grows.</p>
                <!-- <p>Our code is open-source and is hosted by GitHub <a href="https://github.com/seanhugh/Crowd-Surf">here.</a></p> -->
                <p>Designed by <a class="page-scroll" href="#contact">Sean Hughes and Thushan Puhalendran</a>, Harvard College, 2016.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section class="content-section text-center">
        <div id="download" class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Features</h2>
                    <p><a class="page-scroll" href="#download">Search</a> and add any concert around the world</p>
                    <p><a class="page-scroll" href="#download">View</a> all currently tracked concerts by all users</p>
                    <p><a class="page-scroll" href="#download">Receive</a> up-to-date ticket price changes</p>
                    <p><a class="page-scroll" href="#download">Graph</a> historical data on ticket prices and volumes dynamically</p>
                    <p><a class="page-scroll" href="#download">Check</a> past highs, lows, volumes and flux</p>
                    <a href="all" class="btn btn-default btn-lg">See our Concerts</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact CrowdSurf</h2>
                <p>Feel free to email us to provide some feedback on CrowdSurf, give us suggestions for new features, or just say hello!</p>
                <p><a href="mailto:shughes@college.harvard.edu;tpuhalendran@college.harvard.edu">shughes@college.harvard.edu and tpuhalendran@college.harvard.edu</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="www.linkedin.com/in/thushan-puhalendran" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Thushan's Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sean-hughes-177b81130" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Sean's Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--  DATA GOES HERE  -->
    <meta id="my-data" data-list="{{autocompleteData}}">

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; CrowdSurf 2016</p>
            <p><a>Sean Hughes, Thushan Puhalendran</a></p>
        </div>
    </footer>

    <!-- jQuery -->
    <!-- <script src="vendor/jquery/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- JQUERY UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Theme JavaScript -->
    <script src="static/grayscale.js"></script>

    <!-- MY JAVASCRIPT -->
    <script src = "static/myScript.js"></script>

</body>

</html>
